.divisor{
    width: 80%;
    height: 1px;
    background-color: rgb(199, 255, 207);
    
}

.divContainer{
    background-color: #0A2E36;
    display: flex;
    justify-content: center;
}

footer{
    background-color: #0A2E36;
    color: aliceblue;
    text-align: center;
    font-size: 0.7rem;
    padding: 1rem;
}