.page{
    color:rgb(199, 255, 207,0.6);
    height: max-content;
    background-color: #0A2E36;
    padding:4rem;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    padding-left: 5rem;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 4rem;
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x:hidden;
    z-index: 1000;
}



.pagehidden{
    max-width: 100vw;
    color:rgb(199, 255, 207,0.6);
    height: 100%;
    background-color: #0A2E36;
    padding:4rem;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    padding-left: 5rem;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 4rem;
    overflow-x:hidden;
    z-index: 1000;
    
    
}

.btn{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
}
.btn p{
    line-height: 0.2rem;
    font-size: 1.3rem;
}
button{
    
    
    
    background-color: transparent;
    border-style: none;
    color:rgba(39,251,107,1);
    
    
    
    cursor: pointer;

}

  
  .thumbnail {
    width: 100vw;
    height: 50vh;
    background-color: aqua;
    position: relative;
    left:-5rem;
    top:-5rem;
    background-image: url('../images/ShopImages/shirtsImage.png');
  }

  .h1Container{
    width: 100vw;
    height: 50vh;
    background-color: aqua;
    position: relative;
    padding:5rem;
    box-sizing: border-box;
    background-color:rgba(0,0,0,0.7);
    backdrop-filter: blur(2px);
  }

  


.container{
    width: 100%;
    height: max-content;
    
}

.container h1{
    font-size: 4.5rem;
    
}

.section{
    padding-top:4.5rem;
    padding-left: 1rem;
    width:100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sectionR{
    padding-top:4.5rem;
    padding-left: 1rem;
    width:100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}





.divContainer{
    background-color: #0A2E36;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    
}


.divisor{
    
    width: 80%;
    height: 1px;
    background-color: rgb(199, 255, 207);
    
}

.image{
    width:55%;
    height: 27%;
    border-radius: 8px;
    box-shadow: 0px 2px 20px black;
}

.text{
    width:35%;
    line-height: 1.5rem;
    font-size: 1rem;
    margin:1rem;
    
}

.text h2{
    margin-bottom: 2rem;
    line-height: 2.5rem;
}

.summary{
    width:100%;
    display: flex;
    justify-content: space-around;
}

.tools{
    width:100%;
    display: flex;
    justify-content: space-around;
    
    margin-top:4rem;
}

.tools li{
    list-style-type: disc;
}

.Brief{
    margin-bottom:3rem;

    padding:0rem;
}

.tools div{
    width: 30%;
    line-height: 1.5rem;
    font-size: 1rem;
    
}
.tools div h2{
    margin-bottom: 2rem;
    line-height: 1.5rem;
}


.summary div{
    width:30%;
    line-height: 1.5rem;
    font-size: 1rem;
}


.summary div h2{
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.Brief p{
    
    line-height: 1.5rem;
}


.details{
    overflow-y: hidden;
    max-height: max-content;
    z-index: -1000;
    overflow-x: hidden;
}

.detailshidden{
    display: none;
    overflow-x: hidden;
}

@media screen and (max-width: 900px) {
    .pagehidden{
        margin:0;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        
    }

    .text{
        width:100%;
        text-align: center;
    }

    .page{
        margin:0;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        
    }

    .container{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .h1Container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:2rem;
              
      }

      .h1Container h1{
        font-size: 4rem;  
      }

    .section{
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        
        justify-content: center;
        width: 100%;
       
    }

    .sectionR{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        
    }

    .image{
        width: 100%;
        padding: 0;
        margin: 0;
        
    }

    .thumbnail {
        width: 100vw;
        height: 50vh;
        background-color: aqua;
        position: relative;
        left:-2rem;
        top:-2rem;
        background-image: url('../images/ShopImages/shirtsImage.png');
      }
      
      
}